$red-price-color: rgb(212, 64, 64);
$blue-text-color: rgb(49, 100, 181);

.deals-grid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;

    .deal-category{
        display: flex;
        align-items: flex-end;
        justify-content:space-between;
        width: 100%;
        height: 70px;
        margin-bottom: 20px;
        
        h1{
            color: $blue-text-color;
            font-size: 2rem;
        }
        a{
            text-decoration: none;
            color: $blue-text-color;
            font-size: 1.2rem;

            &:hover{
                text-decoration: underline;
            }
        }
    }
    
    .deals-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: clamp(80vw, 1rem + 5vw, 600px);
        column-gap: 10px;
        row-gap: 10px;

        .deal-card{
            a{
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                text-decoration: none;
                border: 1px solid rgb(231, 232, 238);
                
                .deal-image{
                    display: flex;
                    justify-content: center;

                    img{
                        object-fit: scale-down;
                        height: 200px;
                        width: 200px;
                    }
                }
                .title-container{
                    height: 100%;
                    margin-top: 20px;
                    
                    .title{
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        color: $blue-text-color;
                        font-size: 1.2rem;
                        overflow: hidden;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .price-container{
                    .offer-price{
                        grid-area: offer;
                        color: $red-price-color;
                        font-size: 1.7rem;
                    }
                    .original-price{
                        grid-area: original;
                        color: $blue-text-color;
                        text-decoration: line-through;
                        font-size: 1.2rem;
                    }
                    .percent-off{
                        grid-area: percent;
                        font-size: 2.3rem;
                        background-color: $red-price-color;
                        color: rgb(255, 255, 255);
                        align-self: center;
                        width: 90%;
                        text-align: center;
                    }

                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin-top: 10px;
                    grid-template-areas: 
                        "offer percent"
                        "original percent"
                    ;
                    
                }
            }
        }
    }
    @media (min-width: 2050px) {
        .deals-grid{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    }
    @media (max-width: 1350px) {
        .deals-grid{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    @media (max-width: 1000px) {
        .deals-grid{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: 700px) {
        .deals-grid{
            grid-template-columns: 1fr;
        }
    }
}