.deals-grid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    h1{
        color: rgb(49, 100, 181);
    }

    .deals-grid{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: clamp(80vw, 1rem + 5vw, 600px);
        column-gap: 3px;
        row-gap: 4px;

        .deal-card{
            a{
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                text-decoration: none;
                border: 1px solid rgb(231, 232, 238);
                
                .deal-image{
                    display: flex;
                    justify-content: center;

                    img{
                        object-fit: scale-down;
                        height: 200px;
                        width: 200px;
                    }
                }
                .title-container{
                    height: 100%;
                    
                    .title{
                        color: rgb(49, 100, 181);
                        font-size: 1.2rem;
                        line-height: 100%;
                    }
                }
                .price-container{
                    .offer-price{
                        grid-area: offer;
                        color: rgb(211, 96, 96);
                        font-size: 1.7rem;
                    }
                    .original-price{
                        grid-area: original;
                        text-decoration: line-through;
                        font-size: 1.2rem;
                    }
                    .percent-off{
                        grid-area: percent;
                        font-size: 2.3rem;
                        color: rgb(206, 74, 74);
                        align-self: center;
                    }

                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin-top: 10px;
                    grid-template-areas: 
                        "offer percent"
                        "original percent"
                    ;
                    
                }
            }
        }
    }
    @media (min-width: 2050px) {
        .deals-grid{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    }
    @media (max-width: 1350px) {
        .deals-grid{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    @media (max-width: 1000px) {
        .deals-grid{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: 700px) {
        .deals-grid{
            grid-template-columns: 1fr;
        }
    }
}