@use 'variables.scss';

.hero-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35em;
    width: 80%;

    .hero-text{
        width: 75%;
    }

    h1{
        font-size: clamp(1.2rem, 3vw + .8rem, 3.3rem);
    }
    h2{
        font-size: clamp(1rem, 2vw + .6rem, 2.5rem);
    }

    .hero-animated-container{
        list-style: none;
        width: 25%;
        clip-path: inset(25% 0px 25% 0px);
        li{
            font-size: clamp(1.3rem, 3vw + 1rem, 4.5rem);
            font-weight: bold;
            color: variables.$important-color;
        }
    }

    @media (max-width: 1000px) {
        display: none;
    }
}