@use 'variables.scss';

.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5%;


    button{
        margin-bottom: 30px;
        width: 4em;
        height: 4em;
        border: none;
        border-radius: 30px;
        background-color: variables.$light-color;
        color: variables.$primary-color;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        &:hover{
            background-color: variables.$primary-color;
            color: variables.$light-color;
        }
    }

    
}