@use 'variables.scss';

.search-filter-container{
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 50px;
    font-size: 1.3rem;
    color: variables.$primary-color;
    margin-bottom: 20px;

    input{
        border-radius: 5px;
        color: variables.$primary-color;
        font-size: 1.2rem;
    }

    select{
        border-radius: 5px;
        font-size: 1.2rem;
        color: variables.$primary-color;
    }
    button{
        height: 1.4em;
        width: 3em;
        color: variables.$primary-color;
        background-color: variables.$light-color;
        font-size: 1.2rem;
        border-style: none;
        cursor: pointer;
        &:hover{
            color: variables.$light-color;
            background-color: variables.$primary-color; 
        }
    }
}

@media (max-width: 700px) {
    .search-filter-container{
        align-items: flex-start;
        row-gap: 5px;
        flex-direction: column;
        margin-bottom: 140px;
    }
}