.top-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
    

    h1{
        font-size: clamp(1.5rem, .2rem + 1vw, 1.3rem);
        color: rgb(49, 100, 181);
    }

    button{
        width: 5em;
        height: 4em;
        background-color: rgb(49, 100, 181) ;
        color: white;
        border-style: none;
        cursor: pointer;
        &:hover{
            background-color: rgb(92, 123, 174);
        }
    }
}